/* general */
html {
  background-color: black;
}
button {
  background-color: black;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 0.5em;
  text-transform: uppercase;
  font-family: "MedievalSharp", cursive;
  letter-spacing: 0.1em;
  border: white solid 1px;
  height: auto;
}

a {
  color: white;
  text-decoration: none;
}

/* landing */
.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* background-image: url(birmingham-museums-trust-5EUh-tq31eA-unsplash.jpg); */
  background-color: black;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

.credits {
  font-size: 0.5em;
  font-family: "MedievalSharp", cursive;
  color: white;
  margin-bottom: 0.5em;
}

button.start {
  font-family: "Roboto", sans-serif;
}

@keyframes war {
  0% {
    color: red;
    opacity: 0;
  }
  50% {
    color: burlywood;
    opacity: 1;
  }
  100% {
    color: red;
    opacity: 0;
  }
}

.war {
  animation-name: war;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  font-size: 10em;
  margin-top: 1em;
  font-family: "MedievalSharp", cursive;
  text-transform: uppercase;
  color: white;
  border-radius: 50px;
  overflow: hidden;
}

/* card page */
.flex {
  display: flex;
  flex-direction: row;

  /* font-size: 4vw; */
  max-height: 90vh;
  padding: 0.5em;
  background-color: black;
}

.card-face {
  display: flex;
  justify-content: space-between;
  border: 1px black solid;
  margin: 1rem;
  border-radius: 10px;
  height: 90%;
  aspect-ratio: 9/16;
  width: 10em;
  background-color: white;
}

.card-back {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px black solid;
  border-radius: 10px;
  text-transform: capitalize;
  margin: 1rem;
  height: 90%;
  aspect-ratio: 9/16;
  width: 10em;
  background-color: white;
}

.card-grid {
  display: flex;
  max-height: 45vh;

  /* border: green 1px solid; */
}
.card-table {
  width: 85vw;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  /* border: pink 1px solid; */
}

/* individual card styles */

.red-suit {
  color: red;
}

.black-suit {
  color: black;
}

.top-left {
  margin: 1vw;
  text-align: center;
  font-family: "MedievalSharp", cursive;
}
.bottom-right {
  align-self: flex-end;
  margin: 1vw;
  text-align: center;

  transform: rotate(180deg);
  font-family: "MedievalSharp", cursive;
}

.card-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border: 1px black solid;
  margin: 1.5rem 0;
  font-size: 3vw;
  width: 12vw;
}

/* indivual decks */
.deck-label {
  text-transform: uppercase;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.cards-remaining {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 0.75em;
  margin-top: 1em;
}

/* button */
div.play-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vw;
}
button.play-button {
  min-width: 10vw;
  height: auto;
  font-size: 0.6em;
  /* height: 20vh;
  font-size: 2vw; */
}

/* .winner-announcement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25vw;
  /* border: black solid 1px; */
/* text-align: center;
  color: white;
  font-family: "MedievalSharp", cursive;
  letter-spacing: 0.1em;
} */

@keyframes winner {
  0% {
    color: red;
    opacity: 0;
  }
  50% {
    color: burlywood;
    opacity: 1;
  }
  100% {
    color: red;
    opacity: 0;
  }
}
.winner-announcement {
  color: red;
  position: fixed;
  top: 40%;
  left: 10%;

  font-size: 5vw;
  transform: rotate(35deg);
  animation-name: winner;
  animation-duration: 3s;
  opacity: 0;
  font-family: "MedievalSharp", cursive;
  letter-spacing: 0.1em;
}

span.round-winner {
  text-transform: uppercase;
  font-size: 10vw;
}

@media only screen and (max-width: 600px) {
  .card-face {
    height: 90%;
    width: 6em;
    aspect-ratio: 9/16;
  }

  .card-back {
    height: 90%;
    width: 6em;
    aspect-ratio: 9/16;
  }

  .card-body {
    margin: 1.5rem 0;
    font-size: 3vw;
    /* width: 5em; */
  }
}
/* phones */
@media only screen and (max-width: 400px) {
  .flex {
    display: flex;
    flex-direction: column;
  }

  button.play-button {
    width: 15vw;
    height: auto;
    font-size: 2.5vw;
    margin-top: 3em;
  }
}
