.flex {
  display: flex;
  flex-direction: row;
  font-size: 4vw;
  max-height: 90vh;
}
.card-face {
  display: flex;
  justify-content: space-between;
  border: 1px black solid;
  border-radius: 10px;

  margin: 1rem 0;
  height: 30vh;
  width: 20vw;

  max-height: 40vh;
  max-width: 20vw;
}

.card-back {
  border: 1px black solid;
  border-radius: 10px;

  text-transform: capitalize;
  margin: 1rem;
  height: 30vh;
  width: 20vw;
  max-height: 35vh;
  max-width: 20vw;
}

.card-grid {
  display: flex;
}
.card-table {
  width: 60vw;
  display: flex;
  flex-direction: column;
  border: pink 1px solid;
}

/* individual card styles */

.red-suit {
  color: red;
}

.black-suit {
  color: black;
}

.top-left {
  margin: 1vw;
  text-align: center;
}
.bottom-right {
  align-self: flex-end;
  margin: 1vw;
  text-align: center;

  transform: rotate(180deg);
}

.card-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border: 1px black solid;
  margin: 1.5rem 0;
  font-size: 3vw;
  min-width: 7vw;
}

/* indivual decks */
.deck-label {
  text-transform: uppercase;
  text-align: center;
  margin-top: 3rem;
}

.cards-remaining {
  text-align: center;
}

/* button */
.play-button {
  width: 15vw;
  font-size: 3vw;
}

.winner-announcement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25vw;
  border: black solid 1px;
  text-align: center;
}

span.round-winner {
  font-size: 5vw;
  text-transform: uppercase;
}
