.card-face {
  display: flex;

  justify-content: space-between;
  border: 1px black solid;
  border-radius: 10px;
  width: 7rem;
  height: 12rem;
}

.card-back {
  border: 1px black solid;
  border-radius: 10px;
  width: 7rem;
  height: 12rem;
  text-transform: capitalize;
}

.card-grid {
  display: flex;
  margin: 1rem;
}

/* individual card styles */

.red-suit {
  color: red;
}

.black-suit {
  color: black;
}

.top-left {
  margin: 0.25rem;
  text-align: center;
  line-height: 0.9rem;
}
.bottom-right {
  align-self: flex-end;
  margin: 0.25rem;
  text-align: center;
  line-height: 0.9rem;
  transform: rotate(180deg);
}

.card-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border: 1px black solid;
  margin: 1.5rem 0;
  font-size: 1.5rem;
  min-width: 4rem;
}

.deck-label {
  text-transform: uppercase;
  text-align: center;
  margin-top: 3rem;
}

.cards-remaining {
  text-align: center;
}
